//Variables

// Proxima Font Weights

$prox-bold: 'proxima_novabold';
$prox-reg: 'proxima_nova_rgregular';
$prox-semi: 'proxima_novasemibold';

// DIN Font Weights

$din-black: 'din_blackregular';
$din-med: 'dinmedium';
$din-light: 'din_lightregular';
$din-reg: 'dinregular';

// Colors

$navy: #002762;
$red: #b5092d;

